@charset "UTF-8";
.breadcrumb {
  background-color: #e6e67c; }

.card-body > h4 {
  color: #ef1207 !important; }

.card-body > h3 {
  color: #1e7e34; }

.jumbotron {
  /* background-color: #004eff; */
  color: white;
  margin-top: 50px;
  background-image: url("/images/banner.jpg");
  background-size: cover; }

.jumbotron > h1 {
  /*background-color: #1b1c1d;*/
  background-color: #1a3987;
  opacity: .8; }

footer {
  padding: 10px 10px 0 10px;
  /*background-color: #343a40!important;*/
  background-color: #1a3987 !important;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-icon {
  padding-right: 5px; }

.flex-column > a {
  color: #ffffff !important; }

.flex-column > a:hover {
  color: #8cd9f1 !important; }

.card-hotel {
  flex: 1 150px;
  /* La propiedad flex-grow se mantiene intacta (si al primer valor se le coloca 2 cada itema ocuparía el acncho) con el segundo valor cada itema ocupará 150px */
  padding: 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel > div > button {
  border-radius: 0px;
  width: 100%; }

.tab-content {
  padding-top: 10px; }
